
# -f https://download.pytorch.org/whl/torch_stable.html
# -f https://pypi.tuna.tsinghua.edu.cn/simple
torch
torchvision
torchaudio 
-f https://dl.fbaipublicfiles.com/detectron2/wheels/cu111/torch1.10/index.html
detectron2
opencv-python
setuptools
git+https://github.com/cocodataset/panopticapi.git
cython
scipy
shapely
timm
h5py
submitit
scikit-image

#UOT
matplotlib
numpy
pot